.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}



.header_Logo{
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 200px;
}


.header_Link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;

}

.header_Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.header_Nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
