.feature_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    padding: 2.5rem;
}

.feature_icon {
  width: 100px;
  border: 10px solid rgb(0, 188, 119);
  border-radius: 50%;
  padding: 1rem;
}

.feature_title {
  .feature-item-title {
    color: rgb(34, 34, 34);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
}