/* CSS styles for the Hero component */

/* Styles for the Hero container */
.hero {
  background-image: url("../../../assets/bank-tree.jpeg");
  background-size: cover;
  background-position: center 33%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
}

/* Styles for the Hero content section */
.hero_Content {
  text-align: left;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  max-width: 350px;
}

/* Styles for subtitles in the Hero content */
.subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0px;
}

/* Styles for text in the Hero content */
.text {
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* Styles for screen reader-only text */
.sr_only {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  text-align: left;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
