.visible{
  display: flex;
}

.hidden{
  display: none;
}

.iconVisibility{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.none{
  display: none;
  height:0;
  width:0;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}



.header_Logo{
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 200px;
}


.header_Link {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;

}



.header_Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.sr_only{
  border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.header_FirstName::first-letter{
  text-transform: uppercase;
}


.header_Link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;

}

.header_Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.header_Nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}



.header_Logo{
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 200px;
}

.header_FirstName::first-letter{
  text-transform: uppercase;
}

.header_ProfileBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;
}

.header_Link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 1rem;

}

.header_Link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.header_Login_Icon {
  margin-right: 0.2rem;
}

.header_Nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}