/* ---------------------------
   Styles généraux du header
   --------------------------- */
   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
    width: 100%;
  }
  
  /* ------------------------------
     Styles pour le logo du header
     ------------------------------ */
  .header_Logo {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 200px;
  }
  
  /* ---------------------------------------------------
     Styles pour les liens dans le header (navigation)
     --------------------------------------------------- */
  .header_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  /* Effet au survol des liens */
  .header_Link:hover {
    color: #2c3e50;
    text-decoration: underline;
  }
  
  /* ------------------------------
     Styles pour l'icône de login
     ------------------------------ */
  .header_Login_Icon {
    margin-right: 0.2rem;
  }
  
  /* ----------------------------------------
     Styles pour la barre de navigation
     ---------------------------------------- */
  .header_Nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }
  
  /* --------------------------------------
     Styles pour le texte de navigation
     -------------------------------------- */
  .header_FirstName::first-letter {
    text-transform: uppercase;
  }
  
  /* -------------------------------------------------
     Styles pour masquer visuellement le texte (sr-only)
     ------------------------------------------------- */
  .sr_only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }