.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  width: 100%;
}



.header_Logo{
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 200px;
}

